name: Issue labeling workflow
on:
  issues:
    types: [opened, edited]
jobs:
  issue-labeling:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read 
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Add label
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          ISSUE_LABELS: ${{ toJson(github.event.issue.labels.*.name ) }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LABEL: article
        run: gh issue edit "$ISSUE_NUMBER" --add-label "$LABEL"
